<div class="row" id="assignnment">
  <div class="col-md-6">
    <h3 class="">{{assignmentData.name}}</h3>
  </div>
</div>


<app-question [currQuestion]="currentQuestion"></app-question>

<div class="row text-left options">
  <div class="main-wrapper move-center">
    <app-answer *ngFor="let option of currentQuestion.options" [option]="option" (isOptionClicked)="isOptionClicked($event)">
    </app-answer>
    <app-validator [options]="options" [enableCheck]=[hasOptionBeenClicked]></app-validator>
    <app-navigation [currQNo]="currentQuestionIndex+1" [noOfQuestions]="assignmentQuestions.length" [isFirstQ]="isFirstQuestion"
      [isLastQ]="isLastQuestion" (onNext)="onNextQuestionClick()" (onPrev)="onPrevQuestionClick()">
    </app-navigation>
  </div>
</div>
